.article-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.slide-in {
    animation: slideInFromLeft 800ms ease-in-out;
}

.fade-in {
    animation: fadeIn 800ms ease-in-out;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.content-container {
    display: grid;
    grid-template-columns: 65% 35%;
    padding-bottom: 115px;
    margin: 0 200px;
}

.arrow {
    display: flex;
    position: relative;
    width: 19px;
    top: 25px;
    left: -20px;
}
