@import '../assets/mixins.scss';

.content-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 115px;
    gap: 50px;
    margin: 0 100px;
}

.articles-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 65%;
}

.slide-in {
    animation: slideInFromLeft 800ms ease-in-out forwards;
}

.fade-in {
    animation: fadeIn 800ms ease-in-out forwards;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.arrow {
    display: flex;
    position: relative;
    width: 24px;
    left: -10px;
    cursor: pointer;
    padding: 20px;
}

@include mobileQ {
    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
        padding-bottom: 60px;
        gap: 60px;
    }
    .articles-container {
        justify-content: center;
    }
}
