@import '../../assets/variables.scss';
.article {
    display: flex;
    flex-direction: column;
    width: 515px;
    height: fit-content;
    &__title {
        display: flex;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 23px;
    }
    &__content {
        display: flex;
        flex-direction: row;
        line-height: 24px;
        &--v {
            p {
                margin-left: 23px;
                font-size: 14px;
                &:not(:last-child) {
                    margin-bottom: 14px;
                }
            }
            a {
                margin-left: 23px;
                font-size: 14px;
                color: white;
            }
        }
    }
}

.colorband-v {
    display: flex;
    height: inherit;
    width: 10px;
    padding: inherit 2px;
    background: $main-gradient-v;
}
